name: Docker Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Build Docker image
        run: docker build -t counter-app:latest .

      - name: List images
        run: docker images

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
               docker build -t ${{ secrets.DOCKER_USERNAME }}/counter-app:latest .
                docker push ${{ secrets.DOCKER_USERNAME }}/counter-app:latest

      - name: Deploy to server
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem

          # 이렇게 해야 옛날 파일이 덮어씌워지고, docker compose 명령어가 이 파일을 인식합니다.
          scp -i key.pem -o StrictHostKeyChecking=no docker-compose.prod.yml ubuntu@15.164.212.78:/home/ubuntu/docker-compose.yml

          scp -i key.pem -o StrictHostKeyChecking=no nginx.backend.conf ubuntu@15.164.212.78:/home/ubuntu/nginx.backend.conf

          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@15.164.212.78 "
            sudo systemctl stop nginx || true
            sudo systemctl disable nginx || true

            docker compose down || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/counter-app:latest

            docker compose up -d --force-recreate
          "